
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  line-height: 1.6;
  color: #333;
  background: #f4f4f9;
}


nav {
  background: #1e2a38;
  padding: 15px 0;
  position: sticky;
  top: 0;
  z-index: 1000;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s;
}

nav ul li a:hover {
  color: #3498db;
}

/* ===== HEADER ===== */
header {
  background: #2c3e50;
  color: #fff;
  text-align: center;
  padding: 40px 20px;
}

header img {
  width: 180px;
  height: 180px;
  margin-top: 10px ;
  padding: 4px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #fff;
  margin-bottom: 15px;
}

header h1 {
  font-size: 2.5rem;
}

header p {
  font-size: 1.2rem;
  margin-top: 5px;
}

/* ===== SECTION ===== */
section {
  max-width: 900px;
  margin: 30px auto;
  padding: 20px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  background-color: white
}

section h2 {
  margin-bottom: 15px;
  color: #2c3e50;
  border-bottom: 2px solid #ddd;
  padding-bottom: 5px;
}

ul {
  list-style-type: none;
}

ul li {
  margin-bottom: 10px;
}

footer {
  text-align: center;
  padding: 20px;
  background: #2c3e50;
  color: white;
  margin-top: 20px;
}

a {
  color: #3498db;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
